In [1]:
import pandas as pd 
import numpy as np

df_us_20208 = pd.read_csv('Resources/us202208.csv')

df_us_20208

,D1_A,D1_G,Q1,VAXANY,VAXCOUNT,VAXBRAND,VAXJJ,newv3_1,newv3_2,newv3_3,...,D7_1,D8,D9,D9b,D13,D14,D15,wt,wt_multi,wt_parent0
0,42,2,1,2,.,.,.,.,.,.,...,4,3,1,.,1,2,4,0.50954,0.60390,.
1,30,1,1,1,3,1,1,1,.,.,...,1,2,1,.,2,2,3,0.90294,1.07015,.
2,32,1,1,1,2,4,2,1,.,1,...,3,2,1,.,2,2,7,0.50072,0.59344,0.40675
3,30,2,1,1,2,1,2,.,.,.,...,1,1,1,.,1,1,7,0.60841,0.72108,.
4,33,2,1,1,2,1,2,1,1,1,...,1,2,1,.,1,2,6,0.54509,0.64604,0.27592
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,21,2,1,2,.,.,.,.,.,.,...,.,1,4,.,2,2,4,0.25909,0.30706,.
696,21,1,1,1,1,2,.,1,1,1,...,.,1,1,.,2,2,7,0.29503,0.34967,0.25
697,31,1,1,2,.,.,.,.,.,.,...,4,3,2,.,2,2,5,0.80229,0.95087,.
698,66,2,1,1,3,1,2,1,1,1,...,3,2,7,.,2,2,5,2.98312,3.53555,.
699,75,1,1,1,4,2,2,.,.,1,...,5,1,7,.,2,2,5,2.06601,2.44860,.

In [2]:
# # Rename columns needed.
df_us_20208_summary = df_us_20208.rename(columns={
                                        "D1_A": "AGE",
                                        "D1_G": "GENDER",
                                        "VAXANY": "VACCINE STATUS",
                                        "L7": "TRUST",
                                        "Xp6": "POS-CASES",
                                        "CVAX4": "TRUST GOV",
                                        "D0": "HEALTHY",
                                        "D2": "STATE",
                                        "D3": "RURAL",
                                        "D4": "INCOME",
                                        "D5_E": "HISPANIC",
                                        "D5_M": "RACE",
                                        "D6": "RELIGION",
                                        "D6_E": "RELIGIOUS",
                                        "D7": "HEALTH COVERAGE",
                                        "D8": "POLITICS",
                                        "D9": "WORK STATUS",
                                        "D13": "ILLNESS",
                                        "D15": "EDUCATION",
                                         })

df_us_20208_summary

,AGE,GENDER,Q1,VACCINE STATUS,VAXCOUNT,VAXBRAND,VAXJJ,newv3_1,newv3_2,newv3_3,...,D7_1,POLITICS,WORK STATUS,D9b,ILLNESS,D14,EDUCATION,wt,wt_multi,wt_parent0
0,42,2,1,2,.,.,.,.,.,.,...,4,3,1,.,1,2,4,0.50954,0.60390,.
1,30,1,1,1,3,1,1,1,.,.,...,1,2,1,.,2,2,3,0.90294,1.07015,.
2,32,1,1,1,2,4,2,1,.,1,...,3,2,1,.,2,2,7,0.50072,0.59344,0.40675
3,30,2,1,1,2,1,2,.,.,.,...,1,1,1,.,1,1,7,0.60841,0.72108,.
4,33,2,1,1,2,1,2,1,1,1,...,1,2,1,.,1,2,6,0.54509,0.64604,0.27592
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,21,2,1,2,.,.,.,.,.,.,...,.,1,4,.,2,2,4,0.25909,0.30706,.
696,21,1,1,1,1,2,.,1,1,1,...,.,1,1,.,2,2,7,0.29503,0.34967,0.25
697,31,1,1,2,.,.,.,.,.,.,...,4,3,2,.,2,2,5,0.80229,0.95087,.
698,66,2,1,1,3,1,2,1,1,1,...,3,2,7,.,2,2,5,2.98312,3.53555,.
699,75,1,1,1,4,2,2,.,.,1,...,5,1,7,.,2,2,5,2.06601,2.44860,.

In [3]:
# Organize the data to only show the columns needed.
df_organized_us_20208 = df_us_20208_summary[["AGE", "GENDER", "VACCINE STATUS", "TRUST", "POS-CASES", "TRUST GOV", "HEALTHY", "STATE", "RURAL", "INCOME", "HISPANIC", "RACE", "RELIGION", "RELIGIOUS", "HEALTH COVERAGE", "POLITICS", "WORK STATUS", "ILLNESS", "EDUCATION"]]
df_organized_us_20208

,AGE,GENDER,VACCINE STATUS,TRUST,POS-CASES,TRUST GOV,HEALTHY,STATE,RURAL,INCOME,HISPANIC,RACE,RELIGION,RELIGIOUS,HEALTH COVERAGE,POLITICS,WORK STATUS,ILLNESS,EDUCATION
0,42,2,2,5,2,.,4,26,1,2,2,.,12,.,1,3,1,1,4
1,30,1,1,5,1,.,2,33,2,7,2,.,11,.,1,2,1,2,3
2,32,1,1,4,1,2,1,33,2,7,2,.,7,.,1,2,1,2,7
3,30,2,1,5,2,.,3,15,2,7,2,.,1,1,1,1,1,1,7
4,33,2,1,5,.,1,1,33,1,8,2,.,2,1,1,2,1,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,21,2,2,3,.,.,2,5,2,8,2,.,12,.,2,1,4,2,4
696,21,1,1,4,1,1,2,33,2,2,2,.,2,1,2,1,1,2,7
697,31,1,2,1,.,.,1,44,2,3,2,.,12,.,1,3,2,2,5
698,66,2,1,4,1,.,1,50,1,5,2,.,1,2,1,2,7,2,5
699,75,1,1,1,.,.,2,10,2,4,2,.,2,2,1,1,7,2,5

In [4]:
#Dictionary mapping numerical values to gender labels
numerical_to_education = {1: 'Highschool', 2: 'Associates', 3: 'Bachelors', 4: 'Graduate'}
# Replace numerical values with gender labels in the GENDER column using .loc
df_organized_us_20208.loc[:, 'EDUCATION'] = df_organized_us_20208['EDUCATION'].map(numerical_to_education)
df_organized_us_20208

,AGE,GENDER,VACCINE STATUS,TRUST,POS-CASES,TRUST GOV,HEALTHY,STATE,RURAL,INCOME,HISPANIC,RACE,RELIGION,RELIGIOUS,HEALTH COVERAGE,POLITICS,WORK STATUS,ILLNESS,EDUCATION
0,42,2,2,5,2,.,4,26,1,2,2,.,12,.,1,3,1,1,Graduate Degree
1,30,1,1,5,1,.,2,33,2,7,2,.,11,.,1,2,1,2,Bachelor Degree
2,32,1,1,4,1,2,1,33,2,7,2,.,7,.,1,2,1,2,NaN
3,30,2,1,5,2,.,3,15,2,7,2,.,1,1,1,1,1,1,NaN
4,33,2,1,5,.,1,1,33,1,8,2,.,2,1,1,2,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,21,2,2,3,.,.,2,5,2,8,2,.,12,.,2,1,4,2,Graduate Degree
696,21,1,1,4,1,1,2,33,2,2,2,.,2,1,2,1,1,2,NaN
697,31,1,2,1,.,.,1,44,2,3,2,.,12,.,1,3,2,2,NaN
698,66,2,1,4,1,.,1,50,1,5,2,.,1,2,1,2,7,2,NaN
699,75,1,1,1,.,.,2,10,2,4,2,.,2,2,1,1,7,2,NaN

In [ ]:
# Dictionary mapping numerical values to gender labels
numerical_to_gender = {1: 'Male', 2: 'Female', 3: 'Other'}
# Replace numerical values with gender labels in the GENDER column using .loc
df_organized_us_20208.loc[:, 'GENDER'] = df_organized_us_20208['GENDER'].map(numerical_to_gender)
df_organized_us_20208